$background: rgb(234, 237, 238)
$header-item-border: rgb(194, 194, 194)

$white: #fff
$gray: #6d6f71
$dark-gray: rgb(60, 60, 60)
$black: rgb(0, 0, 0)

$blue: rgb(0, 80, 132)
$dark-blue: rgb(0, 42, 69)

$orange: rgb(246, 134, 31)
$dark-orange: rgb(225, 120, 25)

//Transparants
$semi-transparant: rgba(0, 0, 0, .2)
