@import url(../assets/fonts/fonts.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #eaedee;
  font: 1em / 150% 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300; }

a {
  color: #002a45;
  text-decoration: none;
  font-weight: 600; }

h1,
h2,
h3 {
  font-family: 'DFDS bold';
  color: #005084; }

h4,
h5,
h6 {
  font-family: 'DFDS light';
  color: #005084;
  text-transform: uppercase; }

header {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  position: fixed;
  width: 100%; }
  header ul {
    display: flex;
    height: 50px;
    line-height: 50px; }
    header ul img {
      height: 1.5em;
      width: auto; }
    header ul li {
      list-style: none;
      font-family: 'DFDS-Bold';
      font-size: 1.3125em;
      color: #002a45; }
      header ul li:first-of-type {
        margin-right: auto; }
        header ul li:first-of-type a {
          height: 50px;
          width: auto;
          display: inline-block; }
          header ul li:first-of-type a img {
            height: 50px;
            width: auto;
            padding: 13px; }
      header ul li:nth-of-type(1n+2) {
        border-left: 1px solid #c2c2c2;
        text-align: center; }
        header ul li:nth-of-type(1n+2) a {
          height: 50px;
          width: auto;
          display: flex; }
          header ul li:nth-of-type(1n+2) a:hover {
            background-color: #f2f2f2;
            transition: .1s all ease-in; }
        header ul li:nth-of-type(1n+2) span {
          display: none; }
        header ul li:nth-of-type(1n+2) img {
          height: 50px;
          width: 50px;
          padding: 13px; }

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding: 1em 0;
  width: 100%;
  position: absolute;
  top: 50px; }

article {
  background-color: #fff;
  filter: drop-shadow(0.0625em 0.0625em 0.0625em rgba(0, 0, 0, 0.2));
  width: 23%;
  overflow: hidden;
  position: relative;
  margin: 1em 0; }
  article img {
    object-fit: cover;
    width: 100%;
    height: 10em; }
  article h1:first-of-type {
    padding: 1rem 1rem .2rem; }
  article p {
    padding: 0 1rem; }
  article footer {
    margin: 1rem;
    font-size: .7rem;
    text-transform: uppercase;
    font-family: 'DFDS Light';
    color: #005084; }

form {
  filter: drop-shadow(0.125em 0.125em 0.125em rgba(0, 0, 0, 0.2));
  background-color: #fff;
  width: 50%;
  margin: 3em auto;
  padding: 1em;
  color: #6d6f71; }
  form h1 {
    padding: 0 0 .75em; }
  form input[type='text'], form input[type='password'], form input[type='username'], form input[type='date'] {
    width: 100%;
    height: 2.8125em; }
  form button {
    width: 100%; }

input {
  display: inline-block;
  border: solid 0.0625em #6d6f71;
  font: 1em 'Open Sans';
  font-weight: 300;
  padding: .75em .5em;
  border-radius: .375em;
  margin-bottom: 1em;
  letter-spacing: .075em;
  color: #6d6f71; }

button {
  font: 1em 'DFDS bold';
  text-transform: uppercase;
  padding: .75em .5em;
  border-radius: .375em;
  border: 0;
  letter-spacing: .075em;
  cursor: pointer; }
  button[type='button'], button[type='submit'] {
    color: #fff;
    background: #f6861f;
    margin-bottom: 1em; }
    button[type='button']:hover, button[type='submit']:hover {
      background: #e17819; }

label {
  font: .75em / 150% 'DFDS light';
  color: #6d6f71; }

fieldset {
  padding: .2em .5em;
  border-radius: .375em;
  border: solid 0.0625em #6d6f71;
  margin-bottom: 1.5em; }

legend {
  color: #3c3c3c;
  font: .875em / 150% 'DFDS bold';
  text-transform: uppercase;
  padding: 0 .5em; }

@media only screen and (min-width: 48em) {
  header ul {
    line-height: 4.125rem;
    height: 4.125rem; }
    header ul li:first-of-type a img {
      height: 4.125rem;
      padding: 0.9375rem; }
    header ul li:nth-of-type(1n+2) a {
      height: 4.125rem; }
    header ul li:nth-of-type(1n+2) img {
      height: 4.125rem;
      width: 4.125rem;
      padding: 21px; }
    header ul li:last-of-type span {
      display: inherit;
      margin: auto 25px auto 0; } }
