// Stylesheet parts
@import 'colors'
@import 'general'
@import 'header'
@import 'forms'
@import 'verhalen'

@import 'login-layover'
@import 'nightmode'


// Main styling
main
   position: absolute
   top: 50px
   padding: 0 12px
   width: 100vw

   // Filters
   > ul
      margin: 20px 0
      display: flex
      flex-wrap: wrap

      li
         height: 1.375rem
         display: inline
         font-family: 'DFDS Bold'
         font-size: .875em
         text-transform: uppercase
         color: $dark-blue
         cursor: pointer
         margin: 0 1.6rem .5rem 0

         &:last-of-type
            margin-right: 0

         &.active
            border-bottom: 3px solid $orange

   // Articles
   > div
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-between

   article
      background-color: $white
      width: 100%
      height: 400px
      margin-bottom: 20px
      box-shadow: 0 2px 4px 0 rgba($black, .2)
      color: $white
      position: relative
      font: 600 1rem / 150% 'Open Sans'

      &.hide
         display: none
      //    animation-name: disappear
      //    animation-duration: 500ms
      //    animation-fill-mode: forwards


      &.hidden
         display: none

      > div
         position: absolute
         height: inherit
         width: inherit
         padding: 15px 12px
         background-image: linear-gradient(-180deg, rgba($white, .25) 15%, rgba(49,105,139,0.00) 33%, rgba(0,43,69,0.80) 89%)
         display: flex
         flex-direction: column
         z-index: 10

         a
            display: block
            height: 100%

         h1
            color: $dark-blue

         div
            display: flex
            margin-top: auto

            span
               width: 50%

               &:last-of-type
                  text-align: right

      > img
         height: inherit
         width: inherit
         object-fit: cover

// Annimations
@keyframes disappear
   0%
      opacity: 1
      transform: scale(1)

   50%
      opacity: .5
      transform: scale(.5)

   100%
      opacity: 0
      transform: scale(0)

// Media queries

// Mobile (landscpae)
@media only screen and (min-width: 320px) and (orientation: landscape)
   //

// Tablet (landscape & portrait)
@media only screen and (min-width: 48rem)

   // Header
   header

      ul
         line-height: 4.125rem
         height: 4.125rem

         li

            &:first-of-type

               a

                  img,
                  svg
                     height: 4.125rem
                     padding: .9375rem

            &:nth-of-type(1n+2)

               a
                  height: 4.125rem

               img,
               svg
                  height: 4.125rem
                  width: 4.125rem
                  padding: 21px

            &:last-of-type

               span
                  display: inherit
                  margin: auto 25px auto 0

   // Main
   main
      top: 4.125rem

      > div
         overflow-x: scroll
         flex-wrap: nowrap
         justify-content: flex-start

      article
         height: 540px
         width: 425px
         margin-right: 20px





// Tablet
@media only screen and (min-width: 64em)

   // Main
   main

      article
         margin-right: 40px
