* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #eaedee;
  font: 1em / 150% 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300; }

p {
  line-height: 150%; }

a {
  color: #002a45;
  text-decoration: none;
  font-weight: 600; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DFDS Bold';
  color: #005084;
  line-height: 150%; }

h1 {
  font-size: 2.25rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

header {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20; }
  header ul {
    display: flex;
    height: 50px;
    line-height: 50px; }
    header ul img {
      height: 1.5em;
      width: auto; }
    header ul li {
      list-style: none;
      font-family: 'DFDS Bold';
      font-size: 1.3125em;
      color: #002a45; }
      header ul li:first-of-type {
        margin-right: auto; }
        header ul li:first-of-type a {
          height: 50px;
          width: auto;
          display: inline-block; }
          header ul li:first-of-type a img,
          header ul li:first-of-type a svg {
            height: 50px;
            width: auto;
            padding: 13px; }
      header ul li:nth-of-type(1n+2) {
        border-left: 1px solid #c2c2c2;
        text-align: center; }
        header ul li:nth-of-type(1n+2) a {
          height: 50px;
          width: auto;
          display: flex; }
          header ul li:nth-of-type(1n+2) a:hover {
            background-color: #f2f2f2;
            transition: .1s all ease-in; }
        header ul li:nth-of-type(1n+2) span {
          display: none; }
        header ul li:nth-of-type(1n+2) img,
        header ul li:nth-of-type(1n+2) svg {
          height: 50px;
          width: 50px;
          padding: 13px; }

form input[type='text'], form input[type='password'], form input[type='username'], form input[type='email'], form input[type='date'] {
  width: 100%;
  display: inline-block;
  font-family: 'DFDS Light';
  font-size: 1rem;
  padding: 5px 0;
  color: #505050;
  border: 0;
  border-bottom: 1px solid #979797;
  margin-bottom: 24px; }
  form input[type='text']:focus, form input[type='password']:focus, form input[type='username']:focus, form input[type='email']:focus, form input[type='date']:focus {
    outline: none;
    border-bottom: 1px solid #f6861f; }

form input[type='button'], form input[type='submit'] {
  background-color: #f6861f;
  display: block;
  border: 0;
  font: 1.125rem/1.5em 'DFDS Light';
  color: white;
  padding: 6.5px 55px;
  transition: background-color .2s ease;
  cursor: pointer; }
  form input[type='button']:hover, form input[type='submit']:hover {
    background-color: #f2790a; }

form input[type='checkbox'] {
  margin-right: 10px;
  margin-bottom: 24px; }

form label {
  font-family: 'DFDS Bold';
  color: #505050;
  text-transform: uppercase; }
  form label.checkbox {
    font: .875rem/1.5em 'DFDS Light';
    color: #505050;
    text-transform: none; }

form p {
  font: .875rem/1.5em 'DFDS Light';
  color: #505050;
  margin-bottom: 24px; }

form a {
  text-decoration: none;
  border-bottom: 1px solid #f6861f;
  color: inherit;
  font-weight: inherit; }

body main {
  filter: blur(0);
  transition: filter 1s ease; }

body #login_layover {
  display: none;
  background-color: rgba(0, 42, 69, 0);
  transition: background-color 1s ease; }
  body #login_layover > div {
    transform: scale(0);
    transition: transform 5s ease; }

body.login main {
  filter: blur(0.3125rem); }

body.login #login_layover {
  background-color: rgba(0, 42, 69, 0.15);
  display: flex;
  position: fixed;
  top: 3.125rem;
  height: calc(100vh - 3.125rem);
  width: 100%;
  z-index: 15; }
  body.login #login_layover form {
    display: none; }
    body.login #login_layover form.active {
      display: block; }
  body.login #login_layover > div {
    transform: scale(1);
    display: flex;
    width: 100vw; }
    body.login #login_layover > div > div {
      padding: 30px;
      width: 100%; }
      body.login #login_layover > div > div:first-of-type {
        display: none; }
      body.login #login_layover > div > div:last-of-type {
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 12px; }
        body.login #login_layover > div > div:last-of-type h2 {
          display: inline;
          font: 1.75rem/1.5em 'DFDS light';
          font-weight: 200;
          color: rgba(60, 60, 60, 0.5);
          padding-bottom: 4px; }
          body.login #login_layover > div > div:last-of-type h2.active {
            color: #3c3c3c;
            border-bottom: 2px solid #f6861f; }
        body.login #login_layover > div > div:last-of-type span {
          color: #565656;
          margin: 0 20px; }

@media only screen and (min-width: 48rem) {
  body.login #login_layover {
    top: 4.125rem;
    height: calc(100vh - 4.125rem); }
    body.login #login_layover > div {
      width: 55vw;
      margin: auto; }
      body.login #login_layover > div > div {
        height: 33.75rem; }
        body.login #login_layover > div > div:last-of-type {
          padding: 30px; } }

@media only screen and (min-width: 64em) {
  body.login #login_layover > div {
    width: 70vw;
    min-width: 60rem; }
    body.login #login_layover > div > div {
      width: 50%; }
      body.login #login_layover > div > div:first-of-type {
        display: block;
        background-image: url("../assets/images/overlay-background.jpg");
        background-size: cover;
        color: white; }
        body.login #login_layover > div > div:first-of-type svg #Header {
          fill: white; }
        body.login #login_layover > div > div:first-of-type svg #Verhalen,
        body.login #login_layover > div > div:first-of-type svg #Rectangle {
          display: none; }
        body.login #login_layover > div > div:first-of-type p {
          margin-top: 30%;
          font-family: 'DFDS Light';
          font-size: 21px;
          line-height: 39px;
          text-align: center; }
      body.login #login_layover > div > div:last-of-type {
        padding: 60px; } }

body.transition {
  transition: background 500ms linear; }
  body.transition header {
    transition: background 500ms linear; }
    body.transition header ul li .svg g[fill="#002B45"] {
      transition: fill 500ms linear; }
    body.transition header ul li .svg path[stroke="#002B45"],
    body.transition header ul li .svg circle[stroke="#002B45"] {
      transition: stroke 500ms linear; }
    body.transition header ul li span {
      transition: color 500ms linear; }
    body.transition header ul li:nth-of-type(1n+2) {
      transition: border 500ms linear; }
  body.transition main ul li {
    transition: color 500ms linear; }
  body.transition main article {
    transition: color 500ms linear; }
    body.transition main article > img {
      transition: filter 500ms linear 500ms; }

body.nightmode {
  background-color: #201509; }
  body.nightmode header {
    background-color: #2b231e; }
    body.nightmode header ul li .svg g[fill="#002B45"] {
      fill: #b9b9b9; }
    body.nightmode header ul li .svg path[stroke="#002B45"],
    body.nightmode header ul li .svg circle[stroke="#002B45"] {
      stroke: #b9b9b9; }
    body.nightmode header ul li span {
      color: #b9b9b9; }
    body.nightmode header ul li:nth-of-type(1n+2) {
      border-left: 1px solid black; }
      body.nightmode header ul li:nth-of-type(1n+2) a:hover {
        background-color: #3a2f28; }
  body.nightmode main ul li {
    color: #b9b9b9; }
  body.nightmode main article {
    color: #b9b9b9; }
    body.nightmode main article > img {
      filter: brightness(60%); }

main {
  position: absolute;
  top: 50px;
  padding: 0 12px;
  width: 100vw; }
  main > ul {
    margin: 20px 0;
    display: flex;
    justify-content: space-between; }
    main > ul li {
      height: 1.375rem;
      display: inline;
      font-family: 'DFDS Bold';
      font-size: .875em;
      text-transform: uppercase;
      color: #002a45;
      cursor: pointer;
      margin: 0 .9375rem; }
      main > ul li:first-of-type {
        margin-left: 0; }
      main > ul li:last-of-type {
        margin-right: 0; }
      main > ul li.active {
        border-bottom: 3px solid #f6861f; }
  main > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
  main article {
    background-color: white;
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    color: white;
    position: relative; }
    main article.hide {
      animation-name: disappear;
      animation-duration: 500ms;
      animation-fill-mode: forwards; }
    main article.hidden {
      display: none; }
    main article > div {
      position: absolute;
      height: inherit;
      width: inherit;
      padding: 15px 12px;
      background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.25) 15%, rgba(49, 105, 139, 0) 33%, rgba(0, 43, 69, 0.8) 89%);
      display: flex;
      flex-direction: column;
      z-index: 10; }
      main article > div div {
        display: flex;
        margin-top: auto; }
        main article > div div span {
          width: 50%; }
          main article > div div span:last-of-type {
            text-align: right; }
    main article > img {
      height: inherit;
      width: inherit;
      object-fit: cover; }

@keyframes disappear {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: .5;
    transform: scale(0.5); }
  100% {
    opacity: 0;
    transform: scale(0); } }

@media only screen and (min-width: 320px) and (orientation: landscape) {
  main > ul {
    justify-content: flex-start; } }

@media only screen and (min-width: 48rem) {
  header ul {
    line-height: 4.125rem;
    height: 4.125rem; }
    header ul li:first-of-type a img,
    header ul li:first-of-type a svg {
      height: 4.125rem;
      padding: .9375rem; }
    header ul li:nth-of-type(1n+2) a {
      height: 4.125rem; }
    header ul li:nth-of-type(1n+2) img,
    header ul li:nth-of-type(1n+2) svg {
      height: 4.125rem;
      width: 4.125rem;
      padding: 21px; }
    header ul li:last-of-type span {
      display: inherit;
      margin: auto 25px auto 0; }
  main {
    top: 4.125rem; }
    main > ul {
      justify-content: flex-start; }
    main > div {
      overflow-x: scroll;
      flex-wrap: nowrap;
      justify-content: flex-start; }
    main article {
      height: 540px;
      width: 425px;
      margin-right: 20px; } }

@media only screen and (min-width: 64em) {
  main article {
    margin-right: 40px; } }
