// FONTS
@import '../assets/fonts/fonts.css'

// COLORS
$background: rgb(234, 237, 238)
$header-item-border: rgb(194, 194, 194)

$white: #fff
$gray: #6d6f71
$dark-gray: rgb(60, 60, 60)
$black: rgb(0, 0, 0)

$blue: rgb(0, 80, 132)
$dark-blue: rgb(0, 42, 69)

$orange: rgb(246, 134, 31)
$dark-orange: rgb(225, 120, 25)

//Transparants
$semi-transparant: rgba(0, 0, 0, .2)

// General style
*
   margin: 0
   padding: 0
   box-sizing: border-box

body
   background-color: $background
   font: 1em / 150% 'Open Sans', sans-serif
   font-style: normal
   font-weight: 300

a
   color: $dark-blue
   text-decoration: none
   font-weight: 600

h1,
h2,
h3
   font-family: 'DFDS bold'
   color: $blue

h4,
h5,
h6
   font-family: 'DFDS light'
   color: $blue
   text-transform: uppercase

// Header styling
header
   background-color: $white
   box-shadow: 0 2px 4px 0 rgba($black, .15)
   position: fixed
   width: 100%

   ul
      display: flex
      height: 50px
      line-height: 50px

      img
         height: 1.5em
         width: auto

      li
         list-style: none
         font-family: 'DFDS-Bold'
         font-size: 1.3125em
         color: $dark-blue


         &:first-of-type
            margin-right: auto

            a
               height: 50px
               width: auto
               display: inline-block

               img
                  height: 50px
                  width: auto
                  padding: 13px

         &:nth-of-type(1n+2)
            border-left: 1px solid $header-item-border
            text-align: center

            a
               height: 50px
               width: auto
               display: flex

               &:hover
                  background-color: darken($white, 5%)
                  transition: .1s all ease-in

            span
               display: none


            img
               height: 50px
               width: 50px
               padding: 13px





// Main styling
main
   display: flex
   flex-direction: row
   flex-wrap: wrap
   justify-content: space-between
   margin: auto
   padding: 1em 0
   width: 100%
   position: absolute
   top: 50px

article
   background-color: $white
   filter: drop-shadow(.0625em .0625em .0625em $semi-transparant)
   width: 23%
   overflow: hidden
   position: relative
   margin: 1em 0

   img
      object-fit: cover
      width: 100%
      height: 10em

   h1

      &:first-of-type
         padding: 1rem 1rem .2rem

   p
      padding: 0 1rem

   footer
      margin: 1rem
      font-size: .7rem
      text-transform: uppercase
      font-family: 'DFDS Light'
      color: $blue

// Forms
form
   filter: drop-shadow(.125em .125em .125em $semi-transparant)
   background-color: $white
   width: 50%
   margin: 3em auto
   padding: 1em
   color: $gray

   h1
      padding: 0 0 .75em

   input

      &[type='text'],
      &[type='password'],
      &[type='username'],
      &[type='date']
         width: 100%
         height: 2.8125em

   button
      width: 100%

// Inputs & Labels
input
   display: inline-block
   border: solid .0625em $gray
   font: 1em 'Open Sans'
   font-weight: 300
   padding: .75em .5em
   border-radius: .375em
   margin-bottom: 1em
   letter-spacing: .075em
   color: $gray

button
   font: 1em 'DFDS bold'
   text-transform: uppercase
   padding: .75em .5em
   border-radius: .375em
   border: 0
   letter-spacing: .075em
   cursor: pointer

   &[type='button'],
   &[type='submit']
      color: $white
      background: $orange
      margin-bottom: 1em

      &:hover
         background: $dark-orange

label
   font: .75em / 150% 'DFDS light'
   color: $gray

fieldset
   padding: .2em .5em
   border-radius: .375em
   border: solid .0625em $gray
   margin-bottom: 1.5em

legend
   color: $dark-gray
   font: .875em / 150% 'DFDS bold'
   text-transform: uppercase
   padding: 0 .5em


// Media queries

// Tablet (landscape & portrait)
@media only screen and (min-width: 48em)

   // Header
   header

      ul
         line-height: 4.125rem
         height: 4.125rem

         li

            &:first-of-type

               a

                  img
                     height: 4.125rem
                     padding: 0.9375rem

            &:nth-of-type(1n+2)

               a
                  height: 4.125rem

               img
                  height: 4.125rem
                  width: 4.125rem
                  padding: 21px

            &:last-of-type

               span
                  display: inherit
                  margin: auto 25px auto 0


// Tablet
//@media only screen and (max-width: 60em)
