@font-face {
    font-family: 'DFDS bold';
    src: url('dfds/dfds-bold-webfont.woff2') format('woff2'),
         url('dfds/dfds-bold-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DFDS light';
    src: url('dfds/dfds-light-webfont.woff2') format('woff2'),
         url('dfds/dfds-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800');
